<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <form method="post" action="/"> <!--Specify here the route -->
            <h1>Contact Now</h1>
            <input type="text" name="name" id=""/>
            <input type="email" name="email" id=""/>
            <button type="submit">Send Message</button>
        </form>
    </main>
</body>
</html>



<!--  //  <h1> "hELLo I AM k9 Asmoedus gOD Killer_1</h1>
    //<h1>Hello <%=name%></h1>   //local.names-->